//colours
$first_color:#121117;
$second_color: #ffffff;
$third_color: #69696d;
$fourth_color:#038384;
$fifth_color:#bcbdbd;
$sixth_color:#52bbbb;
$seventh_color:#59838c;
$eighth_color:#74370e;
$title_fs: 1.3rem;
$title_fw: 400;
$subtitle_fs: 2rem;
$subtitle_fw: 900;
$description_fs: 1.3rem;
$description_fw: 200;
$button_fs: 1.3rem;
$button_fw:600;